@page "/hider"
@using Community.Blazor.MapLibre.Models.Layers
@using Community.Blazor.MapLibre.Models.Sources
@using Community.Blazor.MapLibre.Models.Feature
@using JetLag.Scripts.Render
@using JetLag.Scripts.Data

@inject IMapRender MapRender


<div class="hider-map-container">
    <MapLibre @ref="_map" Options="_parameters" OnLoad="HandleMapLoaded" Width="100%" Height="100%" />
</div>

<style>
    .hider-map-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
        overflow: hidden;
    }
</style>

@code {
    [SupplyParameterFromQuery(Name = "lat")]
    public double Latitude { get; set; }

    [SupplyParameterFromQuery(Name = "lng")]
    public double Longitude { get; set; }

    [SupplyParameterFromQuery(Name = "zoom")]
    public int ZoomLevel { get; set; }

    private MapLibre? _map;
    private MapOptions _parameters = new();

    protected override void OnInitialized()
    {
        if (Latitude == 0 && Longitude == 0)
        {
            Latitude = 51.505;
            Longitude = -0.09;
        }

        if (ZoomLevel == 0)
            ZoomLevel = 13;

        _parameters = new MapOptions
        {
            Center = new LngLat(Longitude, Latitude),
            Zoom = ZoomLevel,
            Style = "https://tiles.openfreemap.org/styles/liberty"
        };
    }

    private async Task HandleMapLoaded(EventArgs args)
    {
        await MapRender.RenderCircle(_map!, Latitude, Longitude, 500);

        // Overlay covering everything east of the target longitude
        var rightSideCoords = new double[][][]
        {
            new double[][]
            {
                new double[] { Longitude, -90 },
                new double[] { Longitude,  90 },
                new double[] { 180,        90 },
                new double[] { 180,       -90 },
                new double[] { Longitude, -90 }
            }
        };

        await _map!.AddSource("right-side-source", new GeoJsonSource
        {
            Data = new FeatureCollection
            {
                Features = new List<IFeature>
                {
                    new FeatureFeature
                    {
                        Geometry = new PolygonGeometry { Coordinates = rightSideCoords }
                    }
                }
            }
        });

        await _map!.AddLayer(new FillLayer
        {
            Id = "right-side-layer",
            Source = "right-side-source",
            Paint = new FillLayerPaint
            {
                FillColor = "red",
                FillOpacity = 0.2
            }
        });
    }
}
