@page "/hider"

@using JetLag.Scripts.Intialize


@inject IMapOrchestrator<MapLibre> mapOrchestrator


<div class="hider-map-container">
	<MapLibre @ref="_map" Options="_parameters" OnLoad="HandleMapLoaded" Width="100%" Height="100%" />
</div>

<QuestionsMenu Cards="_cards.ToArray()" />

<style>
	.hider-map-container {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 1000;
		overflow: hidden;
	}
</style>

@code {
	[SupplyParameterFromQuery(Name = "lat")]
	public double Latitude { get; set; }

	[SupplyParameterFromQuery(Name = "lng")]
	public double Longitude { get; set; }

	[SupplyParameterFromQuery(Name = "zoom")]
	public int ZoomLevel { get; set; }

	private MapLibre? _map;

	private MapOptions? _parameters;

	private IReadOnlyList<QuestionCardModel>? _cards;


	protected override void OnInitialized()
	{
		if (Latitude == 0 && Longitude == 0)
		{
			Latitude = 51.505;
			Longitude = -0.09;
		}

		if (ZoomLevel == 0)
			ZoomLevel = 13;

		_parameters = new MapOptions
		{
			Center = new LngLat(Longitude, Latitude),
			Zoom = ZoomLevel,
			Style = "https://tiles.openfreemap.org/styles/liberty",
			MinZoom = 2
		};

		mapOrchestrator.Initialize(uiComponent : this);
		_cards = mapOrchestrator.Cards;
	}


	private async Task HandleMapLoaded(EventArgs args)
	{
		await mapOrchestrator.MapLoaded(
			_map!,
			uiComponent : this,
			args);
	}
}
